<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Link</title>
</head>

<body>
    <center>
        <form action="/create" method="post">
            <div class="inputs">
                <label for="name">Enter Name of the Show</label>
                <input type="text" name="name">
            </div>
            <div class="inputs">
                <label for="description">Enter description of the Show</label>
                <input type="text" name="description">
            </div>
            <div class="inputs">
                <label for="url">Enter url of the Show</label>
                <input type="text" name="url">
            </div>
            <button>Submit</button>
        </form>
    </center>

</body>

</html>